.documents {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.doc-text {
    font-weight: 500;
}

.document {
    display: flex;
    align-items: flex-start;
    gap: 1.3rem;
    margin-bottom: 0.5rem;
}

.document .button {
    height: 2.3rem;
}

.document input {
    display: none;
}

.document div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pdf-icon {
    width: 4rem;
}

.attached-file {
    font-weight: 600;
}