/* o css do footer é importado aqui porque ele aparece em todas as páginas */
@import "../css/components/footer.css";

:root {
    --blue: #142c68;
    --waiting-appraisal: #9B66F2;
    --white: #fff;
    --gray: #b4b4b8;
    --light-blue: #f0f3f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#app {
    height: 100%;
    width: 100%;
    position: fixed;
}