.overlay-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.overlay-nav {
    display: flex;
    justify-content: space-around;
}

.overlay-container * {
    z-index: 2;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 1.2rem; */
}

.overlay-content {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    z-index: 2;
    background-color: white;
    padding: 0.8rem;
    padding: 1.2rem;
    margin: 2rem 0.7rem;
    border-radius: 4.64px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.8);
    /* position: absolute;
    top: 2rem; */
}

.overlay-content .button {
    padding: 25px;
    height: 3rem;
    width: 10rem;
}

.overlay-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.close-button {
    width: 2.2rem;
    cursor: pointer;
}

@media screen and (min-width: 600px) {

    .overlay-content {
        width: 25rem;
        margin: 2rem auto;
    }
}