.course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.select {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.select select {
    font-size: 0.65rem;
}

.period {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.period input {
    width: 1.9rem;
}

@media screen and (min-width: 370px) {
    .select select {
        font-size: 0.72rem;
    }
}

@media screen and (min-width: 410px) {
    .select select {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 425px) {
    .select select {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 500px) {
    .select select {
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .select select {
        font-size: 1rem;
    }
}

@media screen and (min-width: 760px) {
    .select select {
        width: 30rem;
    }
}

@media screen and (min-width: 1280px) {
    .course-wrapper {
        flex-direction: row;
        width: 36rem;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 1920px) {
    .period input {
        width: 3.4rem;
    }
}