.personal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
}

.personal label {
    display: flex;
    flex-direction: column;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
}

.nusp-email-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nusp {
    width: 6rem;
}

@media screen and (min-width: 600px) {
    .personal .button {
        height: 2.18rem;
    }

    .name-wrapper {
        width: 22rem;
    }

    .nusp-email-wrapper .button {
        position: relative;
        top: -7.5rem;
    }
}

@media screen and (min-width: 760px) {
    .personal .button {
        width: 10rem;
    }
}