/* css dos componentes contidos na página */
@import "/css/components/form/disciplines/read.css";
@import "/css/components/form/personal.css";
@import "/css/components/form/course.css";
@import "/css/components/form/documents/read.css";
@import "/css/components/form/observations.css";
@import "/css/components/form/review.css";
@import "/css/components/form/result.css";
@import "/css/components/overlay.css";

/* css específico da página */
:root {
    --page-margin: 1rem;
    --body-gaps: 1.4rem;
}

body {
    height: min-content;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0 var(--page-margin);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: var(--body-gaps);
}

h1 {
    /* font-size: 1.4rem; */
    /* margin: 1.2rem 0; */
    margin-top: var(--body-gaps);
}

/* nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin-bottom: 1.2rem;
} */

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mode-select {
    /* width: fit-content; */
    width: 100%;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    width: 100%;
}

.status span:nth-child(2) {
    color: rgb(240, 240, 240);
    border-radius: 32px;
    background-color: var(--waiting-appraisal);
    padding: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.status ion-icon {
    margin-right: 0.36rem;
    color: rgb(240, 240, 240);
    font-size: 21px;
}

.button {
    width: 8.5rem;
    /* min-height: 2.5rem; */
    height: 2.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: var(--blue);
    color: var(--white);
    border-radius: 4.64px;
    border: none;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

input[type='text'], input[type='email'] {
    padding: 0;
    border: none;
    outline: 1.6px solid var(--gray);
    border-radius: 3.2px;
    height: 2.18rem;
    font-size: 1rem;
}

.error-message {
    color: red;
    font-weight: 600;
    font-size: 0.8rem;
}

fieldset {
    border: none;
    margin: 0;
}

hr {
    margin: 1.5rem 0;
    padding: 0;
    background-color: rgba(240,240,240);
    color: rgba(240,240,240);
    height: 0.5px;
}

legend {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
}

select {
    height: 2.18rem;
    background-color: var(--white);
    border: none;
    outline: 1.6px solid var(--gray);
    border-radius: 3.2px;
    font-size: 1rem;
}

label {
    font-weight: 500;
    font-size: 0.8rem;
}

textarea {
    border: none;
    outline: 1.6px solid var(--gray);
    border-radius: 3.2px;
    resize: none;
    /* min-width: 19rem; */
    height: 13rem;
    font-size: 1rem;
}

.large-field {
    width: 17.3rem;
}

input[type="radio"] {
    visibility: hidden;
    position: absolute;
    top: 2px;
    left: 6px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.6rem;
    /* margin-bottom: 1.5rem; */
    /* margin-top: 2.8rem; */
}

/* .bottom-nav {
    flex-direction: column;
    gap: 0.6rem;
}

.bottom-nav.nav .button {
    width: 100%;
}  */

.nav .button {
    /* width: 6.2rem; */
    width: 100%;
    font-size: 1.1rem;
}

/* @media screen and (min-width: 410px) {
    .nav button {
        width: 9rem;
    }
} */

/* @media screen and (min-width: 425px) {
    .nav button {
        width: 9rem;
    }
} */

@media screen and (min-width: 600px) {
    :root {
        --page-margin: 1.8rem;
        --body-gaps: 1.6rem;
    }

    header {
        flex-direction: row;
        align-items: flex-end;
        gap: 1rem;
        justify-content: space-between;
    }

    .status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
        width: auto;
    } 

    /* nav {
        margin-bottom: 2rem;
        justify-content: space-between;
    } */

    .large-field {
        width: 24.8rem;
    }

    /* h1 {
        margin: 2rem 0;
    } */

    textarea {
        width: 28rem;
    }

    .mode-select {
        width: fit-content;
    }

    .nav {
        justify-content: space-around;
        flex-direction: row;
        gap: 0.5rem;
    }

    .nav .button {
        width: 10rem;
        height: 2.8rem;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 760px) {
    :root {
        --page-margin: 3rem;
        font-size: 1.1rem;
    }

    .nav .button {
        width: 11rem;
    } 

    /* h1 {
        margin: 2.5rem 0;
    } */

    /* nav {
        margin-bottom: 2.5rem;
    } */
}

@media screen and (min-width: 830px) {
    .large-field {
        width: 25.8rem;
    }
}

@media screen and (min-width: 1020px) {

    :root {
        --page-margin: 5rem;
        font-size: 1.3rem;
    }

    .large-field {
        width: 27.8rem;
    }
}

@media screen and (min-width: 1280px) {

    :root {
        font-size: 1.4rem;
    }

    form {
        border-radius: 0.43rem;
        border: 1px solid rgba(0,0,0,0.3);
        background-color: var(--light-blue);
        padding: 3rem 2.5rem;
    }

    fieldset {
        padding: 0 0.5rem;
    }

    textarea {
        width: 32rem;
    }

    /* nav .button {
        width: 10rem;
    } */
}

@media screen and (min-width: 1440px) {
    :root {
        --page-margin: 8rem;
        --body-gaps: 1.9rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        --page-margin: 11.7rem;
        font-size: 1.6rem;
    }

    /* nav {
        margin-bottom: 3rem;
    } */

    /* h1 {
        margin: 3rem 0;
    } */

    .large-field {
        width: 29.8rem;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        font-size: 1.8rem;
    }
}