@import "/css/components/table.css";

:root {
    --page-margin: 0.6rem;
    --body-gaps: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--body-gaps);
}

h1 {
    margin-top: var(--body-gaps);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* css do componente table específico dessa página  */
#table_filter input {
    width: 18rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--page-margin);
    gap: var(--body-gaps);
}

.button {
    width: 6.5rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: var(--blue);
    color: var(--white);
    border-radius: 4.64px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}


.content {
    flex: 1 0 auto;
    /* min-height: 67.5rem; */
}

    @media screen and (min-width: 410px) {
    :root {
        --body-gaps: 2rem;
    }

    .button {
        width: 11rem;
        font-size: 1rem;
    }
}

.deferidoMain{
    background-color: rgb(114, 236, 145);
}

.deferidoOther{
    background-color: rgb(199, 243, 217);
}

.indeferidoMain{
    background-color: rgb(255, 124, 124);
}

.indeferidoOther{
    background-color: rgb(255, 203, 203);
}


@media screen and (min-width: 600px) {
    :root {
        --page-margin: 1.3rem;
        --body-gaps: 2rem;
    }

    .content {
        min-height: 55.5rem;
    }

    .overlay-content {
        width: 25rem;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --page-margin: 2rem;
        --body-gaps: 2.5rem;
        font-size: 1.1rem;
    }

    .content {
        min-height: 45rem;
    }
    
    nav .button {
        width: 13rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 1.3rem;
    }

    nav .button {
        width: 10.5rem;
    }

    header {
        flex-direction: row;
        align-items: flex-end;
    }

    nav {
        justify-content: flex-end;
        gap: 1rem;
        width: min-content;
    }

    .content {
        min-height: 33.95rem;
    }
}

@media screen and (min-width: 1280px) {

    :root {
        --page-margin: 3rem;
        --body-gaps: 3rem;
    }

    .content {
        padding: 0 var(--page-margin);
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --page-margin: 3.8rem;
        --body-gaps: 3rem;
    }

    .button {
        width: 10rem;
    }

    .content {
        padding: 0 var(--page-margin);
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1536px) {
    :root {
        /* font-size: 1.4rem; */
        --page-margin: 4.2rem;
    }

    .content {
        min-height: 33rem;
    }
}

@media screen and (min-width: 1600px) {
    :root {
        font-size: 1.4rem;
        --page-margin: 4.5rem;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        font-size: 1.5rem;
        --page-margin: 6rem;
    }

    .content {
        min-height: 31rem;
    }
}   