@import "/css/components/table.css";

:root {
    --page-margin: 0.6rem;
    --body-gaps: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--body-gaps);
}

.overlay-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.overlay-container * {
    z-index: 2;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    z-index: 2;
    background-color: white;
    padding: 0.8rem;
    margin: 2rem 0.7rem;
    border-radius: 4.64px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.8);
    /* position: absolute;
    top: 2rem; */
}

.type-title, .department-title {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.department-title, .department-radio {
    display: none;
}

.radio-show {
    display: block;
}

.overlay-form > button {
    margin: 0 auto;
}

.nusp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.nusp input {
    height: 2.18rem;
    font-size: 1rem;
    border: none;
    outline: 1.6px solid var(--gray);
    border-radius: 3.2px;
    width: 11rem;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.2rem;
}

.overlay-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.overlay-show {
    display: block;
}

.type-radio {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1.5rem;
}

.close-button {
    width: 1.6rem;
    cursor: pointer;
}

.radio-button {
    position: relative;
}

.fake-radiobutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 3px;
    outline: 1px solid var(--gray);
    background-color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.fake-radiobutton:after {
    content: "";
    display: none;
    background: var(--blue);
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.label-visible {
    margin-left: 2rem;
}

input[type="radio"] {
    visibility: hidden;
    position: absolute;
    top: 2px;
    left: 6px;
}

input[type="radio"]:checked + span .fake-radiobutton:after {
    display: block;
}

h1 {
    margin-top: var(--body-gaps);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* css do componente table específico dessa página  */
#table_filter input {
    width: 18rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--page-margin);
    gap: var(--body-gaps);
}

nav .button {
    height: 3rem;
}

.button {
    width: 9.5rem;
    height: 2.5rem;
    font-weight: 700;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: var(--blue);
    color: var(--white);
    border-radius: 4.64px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.content {
    flex: 1 0 auto;
    min-height: 67.5rem;
}

@media screen and (min-width: 410px) {
    :root {
        --body-gaps: 2rem;
    }

    .button {
        width: 11rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {
    :root {
        --page-margin: 1.3rem;
        --body-gaps: 2rem;
    }

    .content {
        min-height: 55.5rem;
    }

    .overlay-content {
        width: 25rem;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --page-margin: 2rem;
        --body-gaps: 2.5rem;
        font-size: 1.1rem;
    }

    .content {
        min-height: 51.5rem;
    }
    
    nav .button {
        width: 13rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 1.3rem;
    }

    nav .button {
        width: 10.5rem;
    }

    header {
        flex-direction: row;
        align-items: flex-end;
    }

    nav {
        justify-content: flex-end;
        gap: 1rem;
        width: min-content;
    }
}

@media screen and (min-width: 1280px) {

    :root {
        --page-margin: 3rem;
        --body-gaps: 3rem;
    }

    .content {
        height: 48.5rem;
        padding: 0 var(--page-margin);
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --page-margin: 3.8rem;
        --body-gaps: 3rem;
    }

    .button {
        width: 10rem;
    }

    .content {
        padding: 0 var(--page-margin);
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1536px) {
    :root {
        /* font-size: 1.4rem; */
        --page-margin: 4.2rem;
    }

    .content {
        min-height: 33rem;
    }
}

@media screen and (min-width: 1600px) {
    :root {
        font-size: 1.4rem;
        --page-margin: 4.5rem;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        font-size: 1.5rem;
        --page-margin: 6rem;
    }

    .content {
        min-height: 31rem;
    }
}